# IMPORTAR LIBRERIAS

In [2]:
import pandas as pd
import matplotlib.pyplot as plt  
import seaborn as sns
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from xgboost import XGBClassifier

import warnings
warnings.filterwarnings("ignore")

#
___

# DATA SETS - LECTURA

In [ ]:
df_academico_train = pd.read_csv("../01_data/03_train/ds_academico_train.csv", sep=",") 
df_academico_train.head()

,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Mother's qualification,Father's qualification,Admission grade,Educational special needs,Debtor,Tuition fees up to date,Gender,...,Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Target
0,0,1,2,3,3,2,0,0,1,0,...,5,7,0,0.000000,0,5,8,0,0.00,0
1,1,1,2,1,1,2,0,0,1,1,...,7,9,6,13.342857,0,8,10,7,11.65,1
2,1,1,2,1,1,2,0,1,0,0,...,10,16,6,11.833333,2,7,8,2,13.00,0
3,0,3,2,2,1,3,0,0,1,0,...,5,0,0,0.000000,0,5,0,0,0.00,0
4,1,1,2,3,3,2,0,0,1,1,...,6,8,6,12.000000,0,6,8,6,11.50,1

In [4]:
df_academico_test = pd.read_csv("../01_data/04_test/ds_academico_test.csv", sep=",") 
df_academico_test.head()

,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Mother's qualification,Father's qualification,Admission grade,Educational special needs,Debtor,Tuition fees up to date,Gender,...,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade)
0,1,1,2,2,2,2,0,0,1,0,...,0,5,11,3,10.666667,0,5,9,4,10.250000
1,1,1,2,3,3,2,0,1,0,0,...,0,6,8,6,14.142857,0,6,6,5,12.000000
2,1,1,3,1,1,3,0,0,1,0,...,0,7,8,4,12.000000,0,8,8,0,0.000000
3,1,1,2,2,1,2,0,0,1,0,...,0,7,9,5,13.850000,0,8,9,7,12.192857
4,1,1,2,2,2,2,0,0,1,1,...,0,6,7,0,0.000000,0,6,6,0,0.000000

#
___

# ENTRENAMIENTO

In [6]:
X = df_academico_train.drop(columns=['Target'])  
y = df_academico_train['Target']                 


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
# Crear un diccionario para almacenar los modelos y sus resultados
modelos = {}
resultados = {}

# 1. Logistic Regression
logreg = LogisticRegression(C=1.0, penalty='l2', solver='liblinear', random_state=42)
logreg.fit(X_train, y_train)
y_pred_logreg = logreg.predict(X_test)

# Almacenar el modelo y los resultados
modelos['Logistic Regression'] = logreg
resultados['Logistic Regression'] = {
    "Accuracy": accuracy_score(y_test, y_pred_logreg),
    "Classification Report": classification_report(y_test, y_pred_logreg),
    "Confusion Matrix": confusion_matrix(y_test, y_pred_logreg)
}

# 2. Random Forest
rf = RandomForestClassifier(n_estimators=100, max_depth=10, random_state=42)
rf.fit(X_train, y_train)
y_pred_rf = rf.predict(X_test)

# Almacenar el modelo y los resultados
modelos['Random Forest'] = rf
resultados['Random Forest'] = {
    "Accuracy": accuracy_score(y_test, y_pred_rf),
    "Classification Report": classification_report(y_test, y_pred_rf),
    "Confusion Matrix": confusion_matrix(y_test, y_pred_rf)
}

# 3. Gradient Boosting (XGBoost)
xgb = XGBClassifier(n_estimators=100, learning_rate=0.1, max_depth=5, random_state=42, use_label_encoder=False, eval_metric='logloss')
xgb.fit(X_train, y_train)
y_pred_xgb = xgb.predict(X_test)

# Almacenar el modelo y los resultados
modelos['XGBoost'] = xgb
resultados['XGBoost'] = {
    "Accuracy": accuracy_score(y_test, y_pred_xgb),
    "Classification Report": classification_report(y_test, y_pred_xgb),
    "Confusion Matrix": confusion_matrix(y_test, y_pred_xgb)
}

# 4. Support Vector Machine (SVM)
svm = SVC(C=1.0, kernel='rbf', gamma='scale', random_state=42)
svm.fit(X_train, y_train)
y_pred_svm = svm.predict(X_test)

# Almacenar el modelo y los resultados
modelos['Support Vector Machine'] = svm
resultados['Support Vector Machine'] = {
    "Accuracy": accuracy_score(y_test, y_pred_svm),
    "Classification Report": classification_report(y_test, y_pred_svm),
    "Confusion Matrix": confusion_matrix(y_test, y_pred_svm)
}

# 5. k-Nearest Neighbors (k-NN)
knn = KNeighborsClassifier(n_neighbors=5, weights='uniform')
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)

# Almacenar el modelo y los resultados
modelos['k-Nearest Neighbors'] = knn
resultados['k-Nearest Neighbors'] = {
    "Accuracy": accuracy_score(y_test, y_pred_knn),
    "Classification Report": classification_report(y_test, y_pred_knn),
    "Confusion Matrix": confusion_matrix(y_test, y_pred_knn)
}

# Imprimir los resultados de cada modelo
for nombre, resultado in resultados.items():
    print(f"Modelo: {nombre}")
    print("Accuracy:", resultado["Accuracy"])
    print("\nClassification Report:\n", resultado["Classification Report"])
    print("Confusion Matrix:\n", resultado["Confusion Matrix"])
    print("\n" + "-"*50 + "\n")

Modelo: Logistic Regression
Accuracy: 0.9174311926605505

Classification Report:
               precision    recall  f1-score   support

           0       0.95      0.84      0.89       402
           1       0.90      0.97      0.93       579

    accuracy                           0.92       981
   macro avg       0.93      0.91      0.91       981
weighted avg       0.92      0.92      0.92       981

Confusion Matrix:
 [[337  65]
 [ 16 563]]

--------------------------------------------------

Modelo: Random Forest
Accuracy: 0.908256880733945

Classification Report:
               precision    recall  f1-score   support

           0       0.94      0.83      0.88       402
           1       0.89      0.96      0.93       579

    accuracy                           0.91       981
   macro avg       0.91      0.90      0.90       981
weighted avg       0.91      0.91      0.91       981

Confusion Matrix:
 [[335  67]
 [ 23 556]]

--------------------------------------------------

Modelo: XGBoost
Accuracy: 0.9031600407747197

Classification Report:
               precision    recall  f1-score   support

           0       0.93      0.82      0.87       402
           1       0.89      0.96      0.92       579

    accuracy                           0.90       981
   macro avg       0.91      0.89      0.90       981
weighted avg       0.91      0.90      0.90       981

Confusion Matrix:
 [[330  72]
 [ 23 556]]

--------------------------------------------------

Modelo: Support Vector Machine
Accuracy: 0.8970438328236493

Classification Report:
               precision    recall  f1-score   support

           0       0.93      0.81      0.87       402
           1       0.88      0.96      0.92       579

    accuracy                           0.90       981
   macro avg       0.90      0.88      0.89       981
weighted avg       0.90      0.90      0.90       981

Confusion Matrix:
 [[325  77]
 [ 24 555]]

--------------------------------------------------

Modelo: k-Nearest Neighbors
Accuracy: 0.8817533129459735

Classification Report:
               precision    recall  f1-score   support

           0       0.93      0.77      0.84       402
           1       0.86      0.96      0.91       579

    accuracy                           0.88       981
   macro avg       0.89      0.86      0.87       981
weighted avg       0.89      0.88      0.88       981

Confusion Matrix:
 [[310  92]
 [ 24 555]]

--------------------------------------------------

In [5]:
# Separar en características (X) y variable objetivo (y)
X = df_academico_train.drop(columns=['Target'])  # Cambia 'Target' por el nombre de tu columna objetivo
y = df_academico_train['Target']                 # Cambia 'Target' por el nombre de tu columna objetivo

# Dividir en conjunto de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Crear y entrenar el modelo de Árbol de Decisión
model = DecisionTreeClassifier(random_state=42)
model.fit(X_train, y_train)

# Realizar predicciones
y_pred = model.predict(X_test)

# Evaluación del modelo
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred))

Accuracy: 0.8409785932721713

Classification Report:
               precision    recall  f1-score   support

           0       0.79      0.83      0.81       402
           1       0.88      0.85      0.86       579

    accuracy                           0.84       981
   macro avg       0.83      0.84      0.84       981
weighted avg       0.84      0.84      0.84       981


Confusion Matrix:
 [[335  67]
 [ 89 490]]

#
___

# PRUEBA CON TEST

In [ ]:
predicciones_submit = best_model.predict(df_academico_test)

df_academico_test['SeriousDlqin2yrs'] = predicciones_submit

# df_resultados = df_academico_test[['SeriousDlqin2yrs']].reset_index()